<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
               xmlns="https://logging.apache.org/xml/ns"
               xsi:schemaLocation="
                   https://logging.apache.org/xml/ns
                   https://logging.apache.org/xml/ns/log4j-config-2.xsd">
    <Appenders/>
    <Loggers>
        <Root level="OFF">
            <AppenderRef ref="SysOut" level="ALL"/>
            <AppenderRef ref="DebugFile" level="ALL"/>
            <AppenderRef ref="LatestFile" level="INFO"/>
            <AppenderRef ref="ServerGuiConsole" level="INFO"/>
        </Root>
        <Logger name="jojosquared" level="DEBUG"/>
    </Loggers>
</Configuration>
